{
  "overrides": [
    {
      "files": "*.js",
      "extends": ["./ts-recommended.js", "plugin:node/recommended"],
      "rules": {
        "node/exports-style": ["error", "module.exports"]
      }
    }
  ]
}
