{
  "overrides": [
    {
      "files": "*.js",
      "extends": [
        "./typescript-recommended.js",
        "plugin:node/recommended"
      ],
      "rules": {
        "node/exports-style": [
          "error",
          "module.exports"
        ]
      }
    }
  ]
}
